/*
© Copyright 2018-2020 Yves de Champlain, Stéphane Lapointe.

SPDX-License-Identifier: LiLiQ-Rplus-1.1
License-Filename: LICENCE
*/

h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2rem;
}

h5 {
  font-size: 12px;
  color: #fff;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
label,
li,
p {
  color: rgb(32, 56, 130);
}

.container {
  padding: 10px;
}

.ql-certification {
  font-size: 16px;
}

.ql-certification .ql-tooltip {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 5px #ccc;
  color: #000;
}

.ql-picker-label:before {
  padding-right: 18px;
}

.ql-preview {
  overflow: scroll;
  white-space: normal;
}

.ql-toolbar.ql-snow {
  padding: 4px !important;
}

.ql-toolbar svg.icon {
  fill: rgb(32, 56, 130)
}

/*
 * Tags background colors
 */

.ql-simple_comment {
  /*background: #f9f871;*/
  background: rgba(254, 234, 135, 1);
}

/* Tags invisible */

.ql-simple_commentNormal {
  background: #fff;
}

/* .ql-tooltip contents overrides */

.ql-certification .ql-tooltip.ql-editing a.ql-action::after {
  content: 'Define';
}

.ql-certification .ql-tooltip a.ql-remove::before {
  content: 'Delete';
}

.ql-certification .ql-tooltip a.ql-action::after {
  content: 'Edit';
}

/* .ql-comment contents */

.ql-certification .ql-tooltip[data-mode='simple_comment']::before {
  content: 'Comment:';
}


#editor {
  height: 350px;
  width: auto;
}

/* Editor-Debug */

#output_delta {
  width: 100%;
  min-height: 180px;
  border: 1px solid lightgray;
  flex-basis: 50%;
}

/*
 * Word Count
 */

#counter {
  border: 1px solid #ccc;
  border-width: 0px 1px 1px 1px;
  padding: 5px 15px;
  text-align: right;
  color: rgb(32, 56, 130);
  font-weight: bold;
}


/*
 * On-Off Switch
 */

.onoffswitch {
  position: relative;
  width: 125px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid rgb(255, 99, 98);
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 25px;
  padding: 0;
  line-height: 25px;
  font-size: 12px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  padding-left: 10px;
  /*background-color: #EEEEEE;*/
  background-color: white;
  color: rgb(255, 99, 98);
  text-transform: uppercase;
  font-weight: 400;
}

.onoffswitch-inner:after {
  padding-right: 10px;
  /* background-color: white; */ /* old: #1CE80E */
  background-color: #ffedde;
  color: rgb(255, 99, 98);
  text-align: right;
  text-transform: uppercase;
  font-weight: 400;
}

.onoffswitch-switch {
  display: block;
  width: 20px;
  margin: 5px;
  background: rgb(255, 99, 98); /* #FFFFFF */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 95px;
  border: 2px solid rgb(255, 99, 98); /* #999999 */
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.onoffswitch-inner:before {
  content: 'Hide tags';
}

.onoffswitch-inner:after {
  content: 'Show tags';
}
